@charset "UTF-8";
.ui-footer-btn{ color: #015501; }
.ui-tab-nav li.current{ color: #015501; border-color: #015501; }

.ui-header{ position: relative; }
.navigation table { background: #0d7434; width: 100%; margin: 0px auto; border-spacing: 1px; border-collapse: separate;}
.navigation td{background:#109141; /*单元格底色*/}
.navigation a{ line-height:35px;font-size:1em;color:#fff;overflow:hidden;display:block;text-align:center;}
.navigation a.current{ background:#0d7434; color:#FFF;}
.ui-slider{ padding-top: 56.2%; }

.demo-desc{ padding: 10px; font-size: 16px; color: #7CAE23; }

.container_title{ background: #fff; font-size:16px; }
.container_title h3{ 
    height: 45px;
    line-height: 45px;
    min-width: 70px;
    box-flex: 1;
    -webkit-box-flex: 1;
    color: #777;
    box-sizing: border-box;
    border-bottom: 2px solid #015501;
    padding-left: 10px;
} 
.container_title .link_more{ display: inline-block; height: 45px; line-height: 45px; float: right; padding-right: 10px; color: #015501; }

/*文本列表*/
.textlist li{background:url(../images/textlist.gif) 5px center no-repeat; text-indent:18px;padding: 5px 0px; 
text-overflow:ellipsis; white-space:nowrap;border-bottom:1px dotted #999999; overflow: hidden;
}
.textlist li.first{ background:none; padding:10px 20px;}
.textlist li .InfoTime{ display: none;}
.textlist li .InfoContent{ font-size:14px; color:#696868; white-space:normal}
.textlist li img{ float:left; width:85px; margin-right:5px; border:1px solid #3A8C8A; }

/*带缩略图文本列表*/
.thumblist li{padding: 5px 0px; text-overflow:ellipsis;white-space:nowrap;border-bottom:1px dotted #999999;height:90px; }
.thumblist li  img{ float:left; height:90px; margin-right:5px; border:1px solid #167312; }
.thumblist li .InfoContent{ font-size:14px; color:#CCCCCC; white-space:normal; text-overflow:ellipsis; line-height:1.2em}

.bot_link_more{ width: 50%; background: #f1f2e8; text-align: center; color: #; padding: 12px 0; display: block; margin:10px auto; }


/**
 * 选项卡
 */
.ui_tab {
  width: 100%;
  overflow: hidden; }

.ui_tab_nav {
  width: 100%;
  background-color: #fff;
  display: box;
  display: -webkit-box;
  font-size: 16px;
  height: 45px;
  box-sizing: border-box; }

.ui_tab_content {
  display: -webkit-box; }

.ui_tab_content > li {
  -webkit-box-flex: 1;
  width: 100%; }

.ui_tab_nav li {
  height: 45px;
  line-height: 45px;
  min-width: 70px;
  box-flex: 1;
  -webkit-box-flex: 1;
  text-align: center;
  color: #777;
  box-sizing: border-box;
  border-bottom: 2px solid transparent;
  width: 100%; }

.ui_tab_nav li.current {
  color: #015501;
  border-bottom: 2px #015501 solid; }

.ui-tab_nav li:active {
  opacity: .8; }


.ui_tab_content_item{ display: none; }
.ui_tab_content_item:first-child{ display: block; }

.index_header{ padding: 0; margin:0; line-height: 0; }
.index_header img{ width: 100%;}


/*当前位置*/
#location{ padding:6px 0px;margin: 0; border-bottom: 1px solid #1F6260;color:#1F6260;  height:1.5em; line-height:1.5em; clear:both; text-indent:3px;}
#location a{color:#1F6260}

.details h1{ text-align: center; color: #015501; padding: 30px 20px 10px; font-size:18px; font-weight: bold; }
.details .public_time{ color: #666; text-align: center; font-size:14px; padding:0; }
.details_content{ padding: 30px 20px;  color: #333;}
.details_content p{ text-indent: 2em; margin-bottom:10px; }

.textlist{ padding-bottom: 0px; }
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*+height:1%;}
.left{ float: left; }
.right{ float: right; }

.paging { width:100%;font-size: 1.0em;height: 60px;line-height: 60px;text-align: center;}
.first_img{ width: 30%; }
.first_content h3{ color: #015501; padding: 0; text-indent: 0; padding-bottom: 5px;}
.first_content p{font-size: 14px; color: #696868; white-space:normal;}
.first_content{ padding: 0 5px;  width: 70%;}

.textlist li.first{white-space:normal;}
.textlist li.first img{ width: 23%!important; }

.form_pane{ padding: 30px 25px; }
.form_item{ padding: 0 0 15px; }
.form_item p{ color: #333; font-size:16px; height: 26px; line-height: 26px; }
.form_item input{ width: 100%; box-sizing: border-box; height: 26px; line-height: 26px; padding: 0 5px; color: #333; font-size:14px; }
.form_item_submit input{ width: 100%; height: 40px; line-height: 40px; padding: #0; text-align:center; color: #fff; background: #015501; border:none; font-size:20px;}
.form_item select{ width: 100%; height: 32px; line-height: 32px; }
.form_item textarea{ width: 100%; box-sizing:border-box; min-height: 90px; line-height: 24px; padding:1px 5px; color: #444; font-size:14px; }

.form_item p span{ color: red; padding: 0 4px; }
.form_item_title h3{ font-size:18px; padding:0; font-weight: bold; margin-bottom:0px; }
.form_item_title p{ font-size:14px; color: #777; }
.form_item_title{ padding-bottom: 10px; }

.answer_list_pane{ padding-bottom: 50px; }
.answer_list_pane{ border-top:1px solid #ccc; margin-top: 20px; padding-top: 20px;}
.answer_list_item{ border-bottom: 1px dotted #e9e9e9; padding: 4px 0 20px;}
.answer_count_info{font-size: 20px;  font-weight: 400;  color: #798e99; margin-bottom:20px;}
.answer_item_content{ font-size:14px; line-height: 24px; color: #333; }
.answer_author_item{ margin:10px 0 5px; }
.answer_list_item:last-child{ border-bottom:1px solid #e3e3e3; margin-bottom:10px;}

/*videolist style*/
.video_list{ padding-bottom: 45px; }
.video_list li{ padding: 10px; }
.video_list li img {width: 23%;}
 .pb60{ padding-bottom:60px;}