<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <authentication mode="Forms">
        <!--<forms loginUrl="LoginUrl.ashx" name=".ASPXAUTH_Meet"></forms>-->
        <forms name="authenticationcookie" cookieless="UseCookies" loginUrl="In/T_Login.aspx" protection="All" />
      </authentication>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  <appSettings>
    <!-- 互动交流的ID-->
    <add key="CID" value="40352f95bea54ba79af478c0125bc43a" />
    <!-- 首页轮播的ID-->
    <add key="SID" value="d916a12786ae414f8ecca6084c93a8d7" />
    <!--调用接口的地址-->
    <add key="Url" value="http://123.232.0.200:8081" />
  </appSettings>
  <connectionStrings>
    <add name="njEntities" connectionString="metadata=res://*/NongJi.csdl|res://*/NongJi.ssdl|res://*/NongJi.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.148.62;user id=root;password=123456;database=njtg&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
